* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Raleway sans-serif;
  font: size 18px;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  height: 100px;
  background: #e1ede6;
}

.logo {
  display: flex;
  gap: 0 8px;
  align-items: center;
}

.logo__text {
  color: #598d66;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
