* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Raleway sans-serif;
  font: size 18px;
}

*button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 15px;
}

.header {
  height: 100px;
  background: #e1ede6;
}
.header-inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 0 60px;

  gap: 60px;
}
.header__link {
  justify-items: right;
}

.logo {
  display: flex;
  gap: 0 8px;
  align-items: center;
}

.logo__text {
  color: #598d66;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero {
  display: flex;
}
.content {
  display: flex;
  align-items: center;
}
.hero__second {
  display: flex;
  flex-direction: column;
}

.hero-inner {
  display: flex;
  align-items: center;
}

.hero__text {
  width: 540px;
  color: #2c2d35;
  font-family: Raleway;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 66px */
}

.hero__span {
  color: #598d66;
}
.hero__p {
  color: #86928b;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  margin-top: 20px;
}
.hero_button {
  display: flex;
  width: 125px;
  height: 25px;
  border: 1px solid #598d66;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  padding: 20px 60px;
}

.catalog__frame250 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.catalog__group-Button {
  display: flex;
  gap: 32px;
}

.catalog__button:hover {
  background: #376b44;
}

.catalog__button {
  background: #d4e8d9;
  border-radius: 20px;
  align-items: center;
  padding: 10px 20px;
}

h2 {
  display: flex;
  color: #2c2d35;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}

.catalog__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.catalog__cardinfo {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.catalog__AuthorName {
  color: #86928b;
  font-family: Raleway;
  padding: 20px 0;
  font-size: 18px;
  font-style: normal;
}

.catalog__CardName {
  color: #2c2d35;
  font-family: Raleway;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.catalog__SizeCard {
  color: #2c2d35;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.catalog__CardPrice {
  color: #598d66;
  font-family: Raleway;
  padding: 20px 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ctalog__basket {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 310px;
  height: 65px;
  padding: 20px 60px;
  border: 1px solid #598d66;
}

.promo{
  height: 574px ;
}
.promo__frame252{
  display: flex;
}
