* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 15px;
}

.box1 {
  display: flex;
  width: 600px;
  height: 400px;
  background-color: brown;
  position: relative;
}

.box2 {
  width: 400px;
  height: 200px;
  background-color: blueviolet;
  position: sticky;
  top: 50px;
}

.box3 {
  width: 200px;
  height: 100px;
  background-color: goldenrod;
  position: sticky;
  padding-bottom: 50px;
}
.homework {
  display: flex;
  flex-direction: column;
}
